@import "~bootstrap";

@font-face {
  font-family: "Silver South Serif";
  src: url("./assets/fonts/SilverSouthSerif.woff2") format("woff2"),
    url("./assets/fonts/SilverSouthSerif.woff") format("woff"),
    url("./assets/fonts/SilverSouthSerif.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Silver South Script";
  src: url("./assets/fonts/SilverSouthScript.woff2") format("woff2"),
    url("./assets/fonts/SilverSouthScript.woff") format("woff"),
    url("./assets/fonts/SilverSouthScript.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

$primary: #0f4881;
$secondary: #548cc5;

body {
  font-family: "Silver South Serif", serif;
  color: $primary;
}

section {
  min-height: 100vh;
  width: 100%;
  padding: 0 2rem;
  background: white;
}

p {
  margin: 0;
  font-weight: 600;

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.75rem;
  }
}

p.script {
  font-family: "Silver South Script", serif;
  font-size: 4rem;
  font-weight: 400;
  color: $secondary;

  @include media-breakpoint-up(lg) {
    font-size: 5rem;
  }
}

.logo {
  height: auto;
  max-width: 100px;
  margin: 1rem auto;

  @include media-breakpoint-up(md) {
    max-width: 150px;
    margin: 2rem auto;
  }
}

.main {
  z-index: 1;
}

.names {
  min-height: 175px;

  @include media-breakpoint-up(md) {
    min-height: 210px;
  }

  @include media-breakpoint-up(lg) {
    min-height: 230px;
  }
}

.guido {
  max-width: 140px;

  @include media-breakpoint-up(md) {
    max-width: 250px;
  }
}

.and {
  max-width: 25px;
  margin: 0 1rem;

  @include media-breakpoint-up(md) {
    max-width: 50px;
    margin: 0 3rem;
  }
}

.letizia {
  max-width: 140px;

  @include media-breakpoint-up(md) {
    max-width: 250px;
  }
}

.wedding-date {
  max-width: 60%;
  margin: 2rem auto;

  @include media-breakpoint-up(sm) {
    max-width: 50%;
    margin: 3rem auto;
  }

  @include media-breakpoint-up(lg) {
    max-width: 33%;
    margin: 3rem auto;
  }
}

.double-quote {
  transform: rotate(180deg);
  padding: 1rem 0;
  max-width: 25px;

  @include media-breakpoint-up(md) {
    max-width: 50px;
  }
}

.contribution {
  text-align: center;

  & > p {
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 2rem;
    }
  }
}

.iban {
  font-family: "Roboto Condensed", sans-serif;
}

.iframe-container {
  // overflow: hidden;
  // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
  // padding-top: 400%;
  position: relative;

  iframe {
    // border: 0;
    // left: 0;
    // position: absolute;
    // top: 0;
    height: 1200px;
    width: 100%;

    @include media-breakpoint-up(sm) {
      height: 894px;
    }
  }
}

.resource_1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 17%;

  @include media-breakpoint-up(md) {
    // max-width: 50px;
  }
}

.resource_2 {
  position: absolute;
  bottom: 0;
  width: 15%;
  left: -25px;

  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: -250px;
    width: 11%;
    left: -52px;
  }
}

.resource_3 {
  position: absolute;
  top: 199px;
  width: 42%;
  left: -76px;

  @include media-breakpoint-up(md) {
    // max-width: 50px;
  }
}
